html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #eeeeee;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
}

ul {
    display: flex;
    flex-direction: row;

}

header li {
    list-style: none;
    padding-right: 12px;
    font-weight: bold;
}

.imageJordan img {
    width: 20px;
}


.rubbriqueStart {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.imageNike img {
    width: 70px;

}

.rubbriqueStart li {
    list-style: none;
    font-weight: bold;
    padding-right: 30px;
}

.rubbriqueStart ul {
    margin-left: 270px;
}

input {
    border-radius: 40px;
    width: 150px;
    height: 35px;
    padding: 10px;
}

.iconRu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconRu img {
    width: 25px;
    margin: 10px;

}

.pub ul {
    background-color: #eeeeee;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: space-around;
    font-size: 15px;
}

.pub li {
    list-style: none;
}

.petit {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}

.video {
    width: 1980px;
    height:700px;
}
.video img{
    width: 1900px;
    height:700px;
}

.en_ce_moment {
    border: solid;
    width: 1900px;
    height:1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.en_ce_moment div {
    border: solid red;
    height: 700px;
    width: 500px;
}
.en_ce_moment div img{
    height: 60vh;
    width: 27vw;
}
.en_ce_moment h1{
    flex-direction: column;
}
